%div.center.hero-unit
  %h1Welcome to the Friends App

  %h2
    This is the home page for the Friends App
  
  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" 
  = link_to "take personal information", uiss_info_path, class: "btn btn-large btn-primary" 
